.card {
  background: #111;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.2);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.photo {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.info {
  padding: 1rem;
}

h3 {
  color: #facc15;
  margin-bottom: 0.2rem;
}

.location {
  font-size: 0.9rem;
  color: #ccc;
}

.tags span {
  background: #facc15;
  color: #111;
  padding: 0.3rem 0.6rem;
  margin: 0.2rem;
  border-radius: 8px;
  font-size: 0.8rem;
  display: inline-block;
}

.button {
  display: inline-block;
  margin-top: 1rem;
  background: gold;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}
