.tickerContainer {
  position: fixed;
  top: 120px;
  right: 0px;
  background-color: #a88757;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px 16px;
  border-radius: 16px 0 0 16px;
  width: 250px;
  z-index: 999;
  height: auto;
}

.tickerText {
  font-size: 0.95rem;
  line-height: 20px;
  color: white;
  font-weight: 500;
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}
.tickerText > p > strong {
  color: white !important;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .tickerContainer {
    top: auto;
    bottom: 10px;
    right: 0px;
    font-size: 0.85rem;
    animation: none;
    text-align: center;
  }
}
