.storeContainer {
  background-color: #fff;
  color: #131313;
  font-family: "Arial", sans-serif;
}

.banner {
  background-image: url("../../assets/Capture.jpg"); /* replace with actual image path */
  background-size: cover;
  background-position: center;
  padding: 5rem 1.5rem;
  text-align: center;
  color: #fff;
  position: relative;
}

.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.bannerContent {
  position: relative;
  z-index: 1;
  max-width: 800px;
  margin: 0 auto;
}

.bannerTitle {
  font-family: "Derivia Regular";
  font-size: 60px;
  color: #a88757;
  margin-top: 24px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.bannerSubtitle {
  font-size: 1rem;
  line-height: 1.7;
  max-width: 1200px;
  margin: 0 auto 2rem;
}

.ctaButton {
  padding: 0.9rem 1.8rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #a88757;
  border: none;
  font-size: 18px;
  min-height: 55px;
  border-radius: 0px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.featuredSection {
  max-width: 1280px;
  margin: 40px auto;
}

.sectionTitle {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
  font-family: "Derivia Regular";

  color: #a88757;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
  gap: 2rem;
}

.card {
  background-color: white;
  padding: 1.8rem;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: left;
}

.card h3 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  font-family: "Derivia Regular";
  color: #a88757;
}

.card p {
  color: #7d7d7d;
  text-align: start;
  margin-bottom: 0.8rem;
}

.affirmation {
  display: block;
  font-style: italic;
  font-size: 0.95rem;
  color: #131313;
}

* {
  font-family: "Mulish", sans-serif;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.impactSection {
  background-color: #a88757;
  padding: 3rem 2rem;
  border-radius: 0px;
  margin: 4rem auto;
  max-width: 900px;
  text-align: center;
  color: white;
}

.impactTitle {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: white;
  font-family: "Derivia Regular";
}

.impactText {
  font-size: 1rem;
  color: white;
  line-height: 1.6;
  margin-bottom: 1rem;
}
@media (min-width: 320px) and (max-width: 480px) {
  .bannerContent {
    position: relative;
    z-index: 1;
    max-width: 90%;
    margin: auto 40px;
  }
  .featuredSection {
    max-width: 100%;
    margin: 40px auto;
    padding: 0 20px;
  }
  .impactSection {
    margin: 40px 20px;
    max-width: 100%;
  }
  .sectionTitle {
    font-size: 32px;
  }
  .bannerTitle {
    font-size: 32px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .bannerContent {
    position: relative;
    z-index: 1;
    max-width: 90%;
    margin: auto 40px;
  }
  .featuredSection {
    max-width: 100%;
    margin: 40px;
    padding: 0;
  }
  .impactSection {
    margin: 40px;
    max-width: 100%;
  }
  .sectionTitle {
    font-size: 32px;
  }
  .bannerTitle {
    font-size: 32px;
  }
}
