.heroContainer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px;
  gap: 40px;
  display: flex;
  gap: 24px;
}

.Wrapper {
  background-color: #f5f5f5;
  padding: 40px 0;
}

.heroContainer > h1 {
  font-family: 'Derivia Regular';
  color: #a88757;
}

.card {
  width: calc(33% - 16px);
  background: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform-style: preserve-3d;
  transition: all 0.3s ease-in-out;
  position: relative;
}

/* 
.imageWrapper {
  height: 200px;
} */

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.content {
  padding: 3rem;
}

.content h1 {
  font-size: 40px;
  color: #131313;
  margin-bottom: 1rem;
}

.content p {
  font-size: 1.2rem;
  color: #7d7d7d;
  margin-bottom: 1rem;
}

.meta {
  font-size: 0.9rem;
  color: #a88757;
  margin-bottom: 1rem;
}

.tags {
  margin-bottom: 1.5rem;
}

.tag {
  background-color: #fcecb8;
  color: #8d5b00;
  font-size: 0.85rem;
  padding: 5px 10px;
  border-radius: 12px;
  margin-right: 8px;
  display: inline-block;
}

.readMore {
  background-color: #a88757;
  color: #fff;
  padding: 0.75rem 1.6rem;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  font-size: 18px;
  height: 55px;
  border-radius: 0px;
  cursor: pointer;
  width: 100%;
  transition: transform 0.3s ease;
}

.readMore:hover {
  transform: scale(1.05);
  background-color: #a88757;
}

@media (min-width: 320px) and (max-width: 480px) {
  .termsContainer {
    width: 100%;
    padding: 20px;
  }

  .readMore {
    width: 100%;
  }

  .searchBarContainer {
    padding: 20px;
  }

  .imageWrapper {
    height: auto;
    overflow: hidden;
  }

  .tags {
    margin-top: 10px;
  }

  .heroContainer {
    padding: 20px;
  }

  .content {
    padding: 20px !important;
  }

  .container {
    margin: 40px 20px !important;
    padding: 20px !important;
  }

  .content h1 {
    font-size: 24px !important;
  }

  .backBtn {
    width: 100%;
  }

  .Wrapper {
    padding: 40px 20px;
  }

  .heroContainer {
    flex-wrap: wrap;
  }

  .card {
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .heroContainer {
    flex-wrap: wrap;
  }

  .card {
    width: 100%;
  }

  .Wrapper {
    padding: 40px 20px;
  }

  .heroContainer {
    padding: 40px;
  }

  .container {
    margin: 40px 20px !important;
  }

  .content {
    padding: 30px !important;
  }

  .content h1 {
    font-size: 28px !important;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .heroContainer {
    padding: 40px;
  }

  .content h1 {
    font-size: 32px;
  }

  .container {
    padding: 40px !important;
  }
}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 2rem;
  display: flex;
  background-color: #f5f5f5;
  flex-direction: column;
  gap: 2rem;
  border-radius: 8px;
}

.imageWrapper img {
  width: 100%;
  /* height: 300px; */
  border-radius: 8px 8px 0 0;
}

.clamptext {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.meta {
  font-size: 0.9rem;
  color: #7d7d7d;
  margin: 0.5rem 0;
}

.tags span {
  margin-right: 10px;
  color: #a88757;
  font-weight: bold;
}

.excerpt {
  margin: 1.5rem 0;
  line-height: 1.6;
}

.backBtn {
  margin-top: 2rem;
  padding: 0.6rem 1.2rem;
  background-color: #a88757;
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  font-weight: bold;
  height: 55px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

.notFound {
  text-align: center;
  padding: 2rem;
}

.PaginationBtn {
  background-color: #a88757;
  border: 1px solid #a88757;
  cursor: pointer;
  padding: 5px 10px;
  color: #fff;
  border-radius: 4px;
}

.PaginationContainer {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px;
  max-width: 1280px;
  margin: 24px auto;
}

.searchBarContainer {
  display: flex;
  justify-content: end;
  max-width: 1280px;
  margin: 0 auto;
}

.searchBar {
  border-radius: 8px;
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
}