.wrapper {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  background-color: #f5f5f5;
  border-radius: 24px;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
form > input {
  background-color: white;
}
.leftPanel {
  width: 48%;
  padding-right: 20px;
}

.title {
  font-size: 60px;
  font-weight: normal;
  margin-bottom: 20px;
  color: #a88757;
}

.text {
  font-size: 16px;
  margin-bottom: 30px;
  color: #131313;
}

.contactItem {
  margin-bottom: 20px;
}

.contactItem h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #131313;
}

.contactItem a {
  color: #a88757;
  text-decoration: none;
}

.contactItem a:hover {
  text-decoration: underline;
}

.form {
  width: 48%;
}

.input,
.textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #7d7d7d;
  border-radius: 0px;
  font-size: 16px;
}

.textarea {
  height: 150px;
}

.button {
  background-color: #a88757;
  color: #fff;
  border: none;
  font-weight: bold;
  padding: 12px 20px;
  font-size: 18px;
  height: 55px;

  cursor: pointer;
  border-radius: 0px;
  width: 100%;
}

.button:hover {
  background-color: #a88757;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }

  .leftPanel,
  .form {
    width: 100%;
  }
  .title {
    font-size: 32px;
  }
  .wrapper {
    padding: 40px 20px;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 20px !important;
  }
  .wrapper {
    padding: 40px 20px;
  }
  .title {
    font-size: 32px;
  }
}
