.page {
  max-width: 1100px;
  margin: 40px auto;
  font-family: 'Mulish', sans-serif;
}

.title {
  font-size: 60px;
  font-weight: normal;
  color: #a88757;
  font-family: 'Derivia Regular';
  margin-bottom: 1rem;
  text-align: center;
}

.intro {
  font-size: 1rem;
  color: #131313;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.ctaButton {
  background-color: #a88757;
  color: #000;
  font-weight: 600;
  padding: 0.9rem 1.5rem;
  border-radius: 12px;
  border: none;
  margin: 1.5rem 0;
  cursor: pointer;
  transition: 0.3s ease;
}

.ctaButton:hover {
  background-color: #a88757;
}

.section {
  margin-top: 3rem;
}

.section h2 {
  font-size: 1.5rem;
  color: #131313;
  margin-bottom: 1rem;
}

.list {
  list-style: none;
  padding-left: 0;
  color: #7d7d7d;
  line-height: 1.7;
}

.featured {
  margin-top: 4rem;
}

.featuredTitle {
  font-size: 60px;
  font-weight: normal;
  font-weight: normal;
  margin-bottom: 1.5rem;
  color: #131313;
}

.therapistGrid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  padding: 8px;
}

.card {
  background: #f5f5f5;
  border-radius: 0px;
  padding: 1.5rem;
  width: calc(33% - 16px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  height: 470px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card h2 {
  font-family: 'Derivia Regular';
  margin: 0.8rem 0 0.3rem;
  color: #a88757;
  margin-top: 24px;
  font-size: 30px;
  font-weight: 600;
}

.card p {
  color: #131313;
  font-size: 18px;
  margin-bottom: 0.4rem;
}

strong {
  color: #a88757;
}

.avatar {
  width: 140px;
  height: 140px;
  border-radius: 9999px;
  object-fit: cover;
  margin: auto;
}

.profileBtn {
  margin-top: 1rem;
  background-color: #a88757;
  color: #fff;
  font-weight: bold;
  width: 160px;
  height: 55px;
  font-size: 18px;
  border-radius: 0px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
}

@media (min-width: 320px) and (max-width: 520px) {
  .title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #a88757;
    font-family: 'Derivia Regular';
    margin-bottom: 1rem;
  }
  .coachtherapistGridGrid {
    padding: 0%;
  }
  .page {
    padding: 40px 20px;
    max-width: 100%;
    margin: 0% !important;
  }

  .card {
    width: 100%;
  }

  .featuredTitle {
    font-size: 32px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .page {
    padding: 40px 20px;
    max-width: 100%;
    margin: 0% !important;
  }
  .therapistGrid {
    padding: 0%;
  }
  .featuredTitle {
    font-size: 32px;
  }

  .card {
    width: 50%;
  }
}

.searchContainer {
  display: flex;
  justify-content: end;
  margin-bottom: 24px;
}
