.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #7d7d7d;
  padding: 2rem;
  border-radius: 12px;
  width: 100%;
  box-shadow: rgba(169, 168, 168, 0.24) 0px 3px 8px;
  max-width: 520px;
  color: #fff;
  position: relative;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.tabs button {
  background: none;
  border: none;
  color: #aaa;
  font-size: 1rem;
  font-family: "Derivia Regular";
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.tabs .active {
  color: #f0c040;
  border-bottom: 2px solid #f0c040;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
select {
  padding: 0.6rem;
  border: none;
  border-radius: 6px;
  background: #222;
  color: #fff;
}

* {
  font-family: "Mulish", sans-serif;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.button {
  background: #f0c040;
  color: #000;
  font-family: "Derivia Regular";
  font-weight: bold;
  padding: 0.7rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: none;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: #f0c040;
  cursor: pointer;
  transition: transform 0.2s ease;
}